/**
 * Import Google Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900|Kelly+Slab|Source+Sans+Pro:300,400,600|Roboto+Condensed:300,400,700&display=swap');

/**
 * CSS custom variables to keep the CSS 'DRY'!
 */
:root {
  --color-grey: hsl(213, 30%, 60%);
  --color-grey-lighter: hsl(213, 30%, 72%);
  --color-grey-lighter2: hsl(213, 30%, 82%);
  --color-grey-light: hsl(213, 30%, 92%);
  --color-blue: hsl(190, 70%, 85%);
  --color-blue-dark: hsl(190, 70%, 63%);
  --color-blue-grey: hsl(208, 23%, 33%);
  --color-blue-grey-light: hsl(208, 23%, 40%);
  --color-georgia-peach: hsl(0, 95%, 71%);
  --color-green: hsl(167, 36%, 51%);
  --color-background: hsl(0, 0%, 94%);
  --color-login: hsl(51, 84%, 98%);
}

/**
 * USER RESETS
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
	line-height: 1.4em;
  font-weight: 300;
  background-color: var(--color-background);
}

:focus {
	outline: 0;
}

/**
 * Container for the page
 */
.container {
  max-width: 700px;
  min-width: 270px;
  margin: 0 auto;
  padding: 0 10px;
}

/**
 * Header section
 */
.header {
  padding: 50px 0;
  text-align: center;
  color: var(--color-blue-dark);
  border-bottom: 2px solid var(--color-grey-light);
}

.header--loggedin {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-left: 20px;
  padding-left: 40px;
  font-family: 'Kelly Slab', sans-serif;
  font-size: 52px;
  letter-spacing: 0.2em;
  -webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  border-radius: 25px;
  box-shadow: none;
}

.header__title--loggedin {
  box-shadow: -11px -11px 22px #b9c4d4,
             11px 11px 22px #ffffff;
}

.header__logout {
  display: none;
}

.header__logout--loggedin {
  display: block;
  margin-right: 20px;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: var(--color-grey-lighter);
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__logout--loggedin:hover {
  color: var(--color-grey);
}

/**
 * Messages Section
 */
.messages-box {
  position: relative;
  min-height: 400px;
  height: 60vh;
  overflow-y: scroll;
  margin: 3px 0 6px;
}

/* Custom Scrollbar */
.messages-box::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.messages-box::-webkit-scrollbar-track {
    background: var(--color-grey-lighter2);
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.messages-box::-webkit-scrollbar-thumb {
    background: var(--color-grey-lighter2);
    border: 1px solid var(--color-background);
}

.messages-box__message-box {
  background-color: var(--color-login);
  margin: 10px 150px 10px 30px;
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: -3px -3px 6px #cdd9eb,
             6px 6px 12px hsla(183, 100%, 98%, 0.5);
}

.messages-box__message-box--me {
  background-color: var(--color-blue);
  text-align: right;
  margin: 10px 30px 10px 150px;
  box-shadow:  3px -3px 6px #cdd9eb,
               -6px 6px 12px #ffffff;
}

.messages-box__message-box.messages-box__message-box--me .messages-box__name{
  display: none;
}

.messages-box__name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding-bottom:6px;
  color: var(--color-blue-grey-light);
}

.messages-box__message {
  letter-spacing: 0.03em;
  color: var(--color-blue-grey-light);
}

.message-new {
  position: relative;
}

.message-new__input {
  width: 100%;
  line-height: 3;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--color-blue-grey-light);
  background-color: var(--color-login);
  padding-left: 10px;
  padding-right: 60px;
  border: none;
  box-shadow:  -7px -7px 20px #b9c4d4,
               7px 7px 20px #ffffff;

}

.message-new__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  border-color: var(--color-blue-dark);
  background-color: var(--color-blue-dark);
  color: var(--color-login);
}

.message-new__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.message-new__input::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.message-new__input:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.message-new__input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.message-new__input::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

/**
 * Login / Register / Forgot Password Sections
 */
.login,
.register,
.validate,
.forgot-password,
.reset {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 20px auto 0;
  padding: 0;
}

.login__header-group,
.register__header-group {
  display: flex;
  justify-content: center;
}

.login__header,
.register__header,
.validate__header,
.forgot-password__header,
.reset__header {
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: var(--color-blue-grey);
  text-align: center;
  padding: 40px 0 10px;
  margin: 0 15px 20px;
  border-bottom: 4px solid var(--color-background);
}

.login__header,
.register__header {
  cursor: pointer;
  text-decoration: none;
}

.login__header--selected,
.register__header--selected {
  border-bottom: 4px solid var(--color-blue-dark);
  font-weight: 600;
  cursor: auto;
}

.validate__text,
.forgot-password__text,
.reset__text {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--color-grey);
}

.login__email,
.login__password,
.register__username,
.register__email,
.register__password,
.register__password2,
.validate__code,
.forgot-password__email,
.reset__email,
.reset__code,
.reset__password,
.reset__password2 {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 46px;
  padding: 0 8px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-blue-dark);
  color: var(--color-grey);
  background-color: var(--color-background);
}

.login__email-error,
.login__password-error,
.register__username-error,
.register__email-error,
.register__password-error,
.register__password2-error,
.validate__code-error,
.forgot-password__email-error,
.reset__email-error,
.reset__code-error,
.reset__password-error,
.reset__password2-error {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.75;
  width: 100%;
  color: var(--color-georgia-peach);
}

.register__success,
.validate__code-success,
.forgot-password__email-success,
.reset__code-success {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 100%;
  color: var(--color-green);
}

.login__submit,
.register__submit,
.validate__submit,
.forgot-password__submit,
.reset__submit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 12px 45px;
  margin-top: 60px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--color-blue-dark);
  color: var(--color-login);
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
              0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.login__submit:hover,
.register__submit:hover,
.validate__submit:hover,
.forgot-password__submit:hover,
.reset__submit:hover {
  transform: translate(-50%, -1%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
              0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.login__forgot-passwordblock {
  text-align: center;
}

.login__forgot-password {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-grey);
  cursor: pointer;
}

.login__forgot-password:hover {
  color: var(--color-blue-grey-light);
}

.login__email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__email::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__email:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__email::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__email::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__password::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__password:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__password::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.login__password::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__username::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__username::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__username:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__username::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__username::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__email::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__email:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__email::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__email::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password2::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password2::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password2:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password2::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.register__password2::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.validate__code::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.validate__code::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.validate__code:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.validate__code::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.validate__code::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.forgot-password__email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.forgot-password__email::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.forgot-password__email:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.forgot-password__email::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.forgot-password__email::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey-lighter);
}

.reset__email::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey-lighter);
}

.reset__email:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey-lighter);
}

.reset__email::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey-lighter);
}

.reset__email::placeholder {
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey-lighter);
}

.reset__code::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__code::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__code:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__code::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__code::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password2::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password2::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password2:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password2::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

.reset__password2::placeholder {
	font-style: italic;
	font-weight: 300;
	color: var(--color-grey-lighter);
}

/**
 * Footer section
 */
.footer {
  color: var(--color-grey);
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 80px;
  text-align: center;
}

.footer a:visited {
  color: var(--color-blue-dark);
}

/**
 * Responsive Web Design using @media queries.
 * Breakpoints at 600px, 500px, 400px & 350px
 */
@media screen and (max-width: 600px) {
  .header {
    padding: 40px 0;
  }
  .header__title {
    padding-left: 20px;
  }
  .messages-box__message-box {
    margin: 10px 100px 10px 30px;
  }

  .messages-box__message-box--me {
    margin: 10px 30px 10px 100px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 30px 0;
  }
  .header__title {
    font-size: 40px;
  }
  .header__logout--loggedin {
    font-size: 20px;
  }
  .messages-box__message-box {
    margin: 10px 100px 10px 20px;
  }

  .messages-box__message-box--me {
    margin: 10px 20px 10px 100px;
  }
  .login__header, .register__header {
    font-size: 24px;
    padding: 30px 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .messages-box__message-box {
    margin: 10px 70px 10px 20px;
  }

  .messages-box__message-box--me {
    margin: 10px 20px 10px 70px;
  }
}

@media screen and (max-width: 350px) {
  .header {
    padding: 20px 0;
  }
  .header__title {
    padding-left: 10px;
    font-size: 28px;
  }
  .header__logout--loggedin {
    font-size: 18px;
  }
  .messages-box__message-box {
    margin: 10px 40px 10px 10px;
  }

  .messages-box__message-box--me {
    margin: 10px 10px 10px 40px;
  }
  .login__header, .register__header {
    font-size: 18px;
    padding: 30px 0 4px;
  }
}
